.liContainer{
    width: 400px;
    margin: 6px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #212F3D;
    color:#F7F9F9;
    font-weight:500;
    border-radius:30px 60px;
    box-shadow: 0 8px 8px -6px #D6EAF8;
}


.liContainer-delete{
    width:20px;
    height:20px; 
    color:#F7F9F9;
}

.liContainer-delete:hover{
    color:rgba(206, 0, 0, 0.973);
    cursor: pointer;
    transform: scale(1.1);
}

.liContainer-completed{
    padding:0;
    margin:0;
    width: 20px;
    height: 20px;
    cursor: pointer; 
    color:#212F3D;
    border-radius: 100%;
    border-color:#F7F9F9;
    border-style: none;
    background-color: #F7F9F9;
}


.liContainer-completed--complete{
    background-color:rgb(33, 218, 64);
}

.taskCompleted{
    text-decoration: line-through;
}

@media(max-width:450px){
   .liContainer{
    width: 320px;
   }
}