.containerInput{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.containerInput__input{
    margin: 0;
    width: 50vh;
    padding:10px;
    background-color:#ECF0F1;
    font-size: 16px;
    font-weight: 200;
    border-radius:3px;
    outline-color: #212f3d;
    box-shadow: 0 8px 8px -3px rgb(65, 65, 65);
}