
.titleContainer{
    display: flex;
    justify-content: center;
    margin-top:24px;
    margin-bottom: 24px;

    
}

.titleContainer__title{
    color:wheat;
    font-size: 24px;
    font-weight: 700;
    text-align:center;
    margin:0;
    padding: 12px;
    border-radius:30px 60px 90px; 
    box-shadow: 0 8px 8px -6px wheat;
}

.titleContainer--variant{
    display: inline-block;
    color: #F7F9F9;
    background-color:  #154360;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    text-align: center;
}

@media(max-width:450px){
    .titleContainer__title{
        font-size: 22px;
        padding: 16px;
        margin: 0 8px;
    }
    .titleContainer--variant{
        width: 30px;
        height: 30px;
    }
}