body{
    background-image: linear-gradient(to right, #2874A6,#ECF0F1);
}

ul{
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top:50px;
}